<section class="home-container">
    <div class="home-card">
        <h1>Bienvenido a Scopper</h1>
        <p>
            Tu ecommerce de confianza en venta de celulares de todas las marcas.
        </p>

        <a href="/products" class="btn-primary">
            Ver todos los productos
        </a>
    </div>
</section>