<div class="profile-container">
    <h1>Perfil de usuario</h1>

    <p><strong>Nombre:</strong> {{user.first_name}}</p>
    <p><strong>Apellido:</strong> {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Rol:</strong> {{user.role}}</p>

    <br>

    <a href="/api/sessions/logout">Cerrar sesión</a>


    <a href="/products">Ir a productos</a>
</div>