<div class="auth-container">
    <h1>游닇 Registro</h1>

    <form action="/api/sessions/register" method="POST">
        <input name="first_name" placeholder="Nombre" required>
        <input name="last_name" placeholder="Apellido" required>
        <input name="age" type="number" placeholder="Edad" required>
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Contrase침a" required>

        <button type="submit">Crear cuenta</button>
    </form>
</div>

<p class="auth-footer">
    쯏a ten칠s cuenta?
    <a href="/login">Inici치 sesi칩n ac치</a>
</p>